.light {
    background-color: rgba(0,0,0,.01) !important;
}

.nav-item {
    font-size: 20px;
}

.nav-link {
    color: #32DE8A;
}
.nav-link:hover {
    color: #5AB378;
}

input.notes {
    padding-left: 15px;
    height: 52px;
    border: 0;
    box-shadow: none;
    border-top: 1px solid #EEE;
    font-size: 20px;
}

div.footer {
    width: 100%;
    height: 100%;
    background-color: #32DE8A;
    color: white;
    font-size: 20px;
}
div.footer:hover {
    cursor: pointer;
    background-color: #5AB378;
}